Source: yaird
Section: utils
Priority: optional
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.1.0), quilt, patchutils (>= 0.2.25), cdbs (>= 0.4.27-1), dh-buildinfo, xmlto
Maintainer: Jonas Smedegaard <dr@jones.dk>
Standards-Version: 3.6.2.0

Package: yaird
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}, libhtml-template-perl, dash, libparse-recdescent-perl
Provides: linux-ramdisk-tool
Suggests: doc-base
Description: Yet Another mkInitRD
 Yaird generates initial boot images in initramfs format.
 The boot image is an intermediate step between the boot loader
 (eg Grub, Lilo) and the init scripts on the root file system;
 it loads modules and enables devices to a level where the kernel
 can access the real root file system, and then hands over control
 to the init scripts.
 .
 Compared with earlier implementations like mkinitrd, it does a
 better job of deciding which modules are needed for your system,
 so it produces smaller images and there is less risk of making
 an image that will not boot.  This comes at a price:
 only Linux 2.6 is supported (because 2.6 has sysfs, which makes
 it a lot easier to do a hardware inventory).
 .
 See mkinitrd.yaird(8) for how to activate the program.
 .
 Supported: SATA, IDE, LVM2, mdadm, cryptsetup, cryptsetup-luks
 (cryptsetup-luks is not yet in the official Debian distribution),
 USB keyboards, NFS root.
 .
 Untested: USB storage, SCSI.
 .
 Not yet supported: EVMS, swsusp, firewire, DASD, loopback, loopaes,
 dmraid (dmraid is not yet in Debian).
 .
 At the moment, yaird is lightly tested.
