Source: kernel-image-2.4.27-ia64
Section: devel
Priority: optional
Maintainer: Debian Kernel Team <debian-kernel@lists.debian.org>
Uploaders: dann frazier <dannf@debian.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 2), modutils, kernel-patch-2.4.27-ia64 (= 2.4.27-4), kernel-tree-2.4.27-10, kernel-package (>= 8.042), bzip2

Package: kernel-headers-2.4.27-2
Architecture: ia64
Section: devel
Priority: optional
Depends: coreutils | fileutils (>= 4.0)
Provides: kernel-headers, kernel-headers-2.4
Description: Header files related to Linux kernel version 2.4.27
 This package provides kernel header files for version 2.4.27, for sites 
 that want the latest kernel headers. Please read
 /usr/share/doc/kernel-headers-2.4.27-2/debian.README.gz for details.

Package: kernel-build-2.4.27-2
Architecture: ia64
Section: devel
Priority: optional
Depends: coreutils | fileutils (>= 4.0), kernel-headers-2.4.27-2-itanium, kernel-headers-2.4.27-2-itanium-smp, kernel-headers-2.4.27-2-mckinley, kernel-headers-2.4.27-2-mckinley-smp
Description: Headers for building modules for Linux 2.4.27
 This package provides kernel header files for building modules for the
 precompiled kernel images on ia64.

Package: kernel-headers-2.4.27-2-itanium
Architecture: ia64
Section: devel
Priority: optional
Depends: coreutils | fileutils (>= 4.0), kernel-headers-2.4.27-2
Provides: kernel-headers, kernel-headers-2.4
Description: Linux kernel headers 2.4.27 on ia64
 This package provides kernel header files for version 2.4.27 on
 ia64,
 for sites that want the latest kernel headers.
 Please read /usr/share/doc/kernel-headers-2.4.27-2-itanium/debian.README.gz
 for details.

Package: kernel-image-2.4.27-2-itanium
Architecture: ia64
Section: base
Priority: optional
Provides: kernel-image, kernel-image-2.4
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: elilo, kernel-doc-2.4.27
Description: Linux kernel image for version 2.4.27 on Itanium
 This package contains the Linux kernel image for version 2.4.27 on
 Itanium,
 the corresponding System.map file, and the modules built by the packager.
 It also contains scripts that try to ensure that the system is not left in
 a unbootable state after an update.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.4-itanium
Architecture: ia64
Section: base
Priority: optional
Depends: kernel-image-2.4.27-2-itanium
Description: Linux kernel image for version 2.4 on Itanium
 This package will always depend on the latest 2.4 kernel image available for
 itanium.

Package: kernel-headers-2.4.27-2-itanium-smp
Architecture: ia64
Section: devel
Priority: optional
Depends: coreutils | fileutils (>= 4.0), kernel-headers-2.4.27-2
Provides: kernel-headers, kernel-headers-2.4
Description: Linux kernel headers 2.4.27 on Itanium SMP
 This package provides kernel header files for version 2.4.27 on
 Itanium with SMP support,
 for sites that want the latest kernel headers.
 Please read
 /usr/share/doc/kernel-headers-2.4.27-2-itanium-smp/debian.README.gz for
 details.

Package: kernel-image-2.4.27-2-itanium-smp
Architecture: ia64
Section: base
Priority: optional
Provides: kernel-image, kernel-image-2.4
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: elilo, kernel-doc-2.4.27
Description: Linux kernel image for version 2.4.27 on Itanium SMP
 This package contains the Linux kernel image for version 2.4.27 on
 Itanium with SMP support,
 the corresponding System.map file, and the modules built by the packager.
 It also contains scripts that try to ensure that the system is not left in
 a unbootable state after an update.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.4-itanium-smp
Architecture: ia64
Section: base
Priority: optional
Depends: kernel-image-2.4.27-2-itanium-smp
Description: Linux kernel image for version 2.4 on Itanium SMP
 This package will always depend on the latest 2.4 kernel image available for
 Itanium SMP.

Package: kernel-headers-2.4.27-2-mckinley
Architecture: ia64
Section: devel
Priority: optional
Depends: coreutils | fileutils (>= 4.0), kernel-headers-2.4.27-2
Provides: kernel-headers, kernel-headers-2.4
Description: Linux kernel headers 2.4.27 on ia64
 This package provides kernel header files for version 2.4.27 on
 ia64,
 for sites that want the latest kernel headers.
 Please read /usr/share/doc/kernel-headers-2.4.27-2-mckinley/debian.README.gz
 for details.

Package: kernel-image-2.4.27-2-mckinley
Architecture: ia64
Section: base
Priority: optional
Provides: kernel-image, kernel-image-2.4
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: elilo, kernel-doc-2.4.27
Description: Linux kernel image for version 2.4.27 on Itanium II
 This package contains the Linux kernel image for version 2.4.27 on
 Itanium II (also known as mckinley),
 the corresponding System.map file, and the modules built by the packager.
 It also contains scripts that try to ensure that the system is not left in
 a unbootable state after an update.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.4-mckinley
Architecture: ia64
Section: base
Priority: optional
Depends: kernel-image-2.4.27-2-mckinley
Description: Linux kernel image for version 2.4 on Itanium II
 This package will always depend on the latest 2.4 kernel image available for
 Itanium II (also known as mckinley).

Package: kernel-headers-2.4.27-2-mckinley-smp
Architecture: ia64
Section: devel
Priority: optional
Depends: coreutils | fileutils (>= 4.0), kernel-headers-2.4.27-2
Provides: kernel-headers, kernel-headers-2.4
Description: Linux kernel headers 2.4.27 on Itanium II SMP
 This package provides kernel header files for version 2.4.27 on
 Itanium II (also known as mckinley) with SMP support,
 for sites that want the latest kernel headers.
 Please read
 /usr/share/doc/kernel-headers-2.4.27-2-mckinley-smp/debian.README.gz for
 details.

Package: kernel-image-2.4.27-2-mckinley-smp
Architecture: ia64
Section: base
Priority: optional
Provides: kernel-image, kernel-image-2.4
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: elilo, kernel-doc-2.4.27
Description: Linux kernel image for version 2.4.27 on Itanium II SMP
 This package contains the Linux kernel image for version 2.4.27 on
 Itanium II (also known as mckinley) with SMP support,
 the corresponding System.map file, and the modules built by the packager.
 It also contains scripts that try to ensure that the system is not left in
 a unbootable state after an update.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.4-mckinley-smp
Architecture: ia64
Section: base
Priority: optional
Depends: kernel-image-2.4.27-2-mckinley-smp
Description: Linux kernel image for version 2.4 on Itanium II SMP
 This package will always depend on the latest 2.4 kernel image available for
 Itanium II (also known as mckinley) SMP.
