#!/bin/sh

set -e

. /usr/share/debconf/confmodule
db_version 2.0

if [ -n "$2" ] && dpkg --compare-versions "$2" lt 2.0; then
	db_fget cman/upgrade-from-old seen_in_2.0_upgrade
	if [ "$RET" = false ]; then
		db_fset cman/upgrade-from-old seen false
		db_input critical cman/upgrade-from-old || CODE=$?
		if [ "$CODE" = 30 ]; then
			# non-interactive upgrade. Better die here than sorry.
			exit 1
		fi
		db_go || true
		db_fset cman/upgrade-from-old seen_in_2.0_upgrade true
	fi
fi

exit 0
