#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

xen_arches = amd64 i386
ifneq (,$(filter $(DEB_HOST_ARCH), $(xen_arches))) 
  BUILD_XEN = --enable_xen
endif

BUILDROOT := $(shell pwd)

SOMAJOR=2
SOMINOR=0

configure: patch configure-stamp
configure-stamp:
	dh_testdir
	
	./configure --kernel_src=$(BUILDROOT) \
		    --kernel_build=$(BUILDROOT) \
		    --sbindir=/usr/sbin \
			$(BUILD_XEN) \
		    --nssincdir=/usr/include/nss \
		    --nsprincdir=/usr/include/nspr \
		    --libexecdir=/usr/lib/openais \
		    --release_major=$(SOMAJOR) \
		    --release_minor=$(SOMINOR) \
			--disable_kernel_check
	
	# disable kernel modules
	sed -i -e 's/-kernel.* \?=/& 1/g' make/defines.mk
	
	touch $@

build: configure build-stamp
build-stamp:
	dh_testdir

	$(MAKE) all

	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	
	$(MAKE) install DESTDIR=$(BUILDROOT)/debian/tmp/
	
	# manual craft
	install -d -m 0755 debian/tmp/etc/cluster
	install -m 0640 debian/gnbdexports.conf debian/tmp/etc/cluster/gnbdexports.conf
	install -m 0640 debian/gnbdimports.conf debian/tmp/etc/cluster/gnbdimports.conf
	
	mv debian/tmp/etc/udev/rules.d/51-dlm.rules debian/tmp/etc/udev/rules.d/45-dlm.rules
	
	dh_install --sourcedir=debian/tmp --list-missing
	
	# install gfs and gnbd kernel sources
	mkdir -p debian/redhat-cluster-source/usr/src/modules/redhat-cluster/debian
	
	# copy the source
	mkdir -p debian/redhat-cluster-source/usr/src/modules/redhat-cluster/gfs
	cp -a gfs-kernel/src/gfs/* \
		debian/redhat-cluster-source/usr/src/modules/redhat-cluster/gfs/
	
	mkdir -p debian/redhat-cluster-source/usr/src/modules/redhat-cluster/gnbd
	cp -a gnbd-kernel/src/* \
		debian/redhat-cluster-source/usr/src/modules/redhat-cluster/gnbd/
	
	# prepare the debian dir
	cd debian ; \
	cp compat copyright redhat-cluster-modules-_KVERS_.postinst changelog \
		control.modules.in redhat-cluster-source/usr/src/modules/redhat-cluster/debian
	cp debian/redhat-cluster-source.README.Debian \
		debian/redhat-cluster-source/usr/src/modules/redhat-cluster/debian/README.Debian
	cp debian/redhat-cluster-source.rules \
		debian/redhat-cluster-source/usr/src/modules/redhat-cluster/debian/rules
	chmod 755 debian/redhat-cluster-source/usr/src/modules/redhat-cluster/debian/rules
	cp debian/redhat-cluster-source.Makefile \
		debian/redhat-cluster-source/usr/src/modules/redhat-cluster/Makefile
	
	# tar it up
	cd debian/redhat-cluster-source/usr/src/ ;  \
		tar cjf redhat-cluster.tar.bz2 modules/redhat-cluster/
	rm -rf debian/redhat-cluster-source/usr/src/modules
		
	install -D -m 755 debian/modass.redhat-cluster-source \
		debian/redhat-cluster-source/usr/share/modass/overrides/redhat-cluster-source
		
	dh_installdirs
	dh_link
	dh_installdocs
	dh_installchangelogs
	dh_installdebconf
	dh_installinit -p cman --no-start --no-restart-on-upgrade -- start 61 S . start 5 0 6 .
	dh_installinit -p gnbd-server --no-start --no-restart-on-upgrade -- start 63 S . start 3 0 6 .
	dh_installinit -p gnbd-client --no-start --no-restart-on-upgrade -- start 64 S . start 3 0 6 .
	dh_installinit -p gfs-tools --no-start --no-restart-on-upgrade -- start 65 S . start 2 0 6 .
	dh_installinit -p gfs2-tools --no-start --no-restart-on-upgrade -- start 65 S . start 2 0 6 .
	dh_installinit -p rgmanager --no-start --no-restart-on-upgrade -- start 65 S . start 1 0 6 .

binary-arch: install
	dh_testdir
	dh_testroot
	dh_strip -a
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	strip --remove-section=.comment --remove-section=.note --strip-unneeded debian/cman/usr/lib/openais/lcrso/service_cman.lcrso
endif
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_shlibdeps -a -ldebian/tmp/usr/lib -l/usr/lib/openais
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary-indep: install
	dh_testdir
	dh_testroot
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-arch binary-indep 

clean: unpatch
	dh_testdir
	dh_testroot
	dh_clean
	
	 [ ! -f make/defines.mk ] || $(MAKE) distclean
	
	rm -rf *-stamp
	rm -rf debian/patched
