#!/usr/bin/make -f

ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifeq (i386,$(strip $(ARCH)))
  ARCHDIR := x86
endif
ifeq (amd64,$(strip $(ARCH)))
  ARCHDIR := x86_64
endif
ifndef ARCHDIR
  $(error Unsupported architecture $(ARCH))
endif

clean:
	dh_testdir
	dh_clean

binary: binary-indep binary-arch

binary-indep: build

binary-arch: build install

build:

install:
	dh_testdir
	dh_testroot
	dh_installdocs README.ipw3945d
	dh_installchangelogs
	dh_installdirs
	dh_installinit -- start 39 S . start 36 0 6 .
	dh_installmodules
	dh_installman debian/ipw3945d.8
	dh_installlogrotate
#	Install the right version, depending on the arch
	dh_install $(ARCHDIR)/ipw3945d /sbin
	dh_shlibdeps
	dh_installdeb
	dh_fixperms
	dh_compress
	dh_gencontrol
	dh_builddeb
