Source: =ST-source-=V
Section: devel
Priority: optional
Maintainer:  =M
Standards-Version: 3.5.9.0

Package: =ST-headers-=V
Architecture: any
Section: devel
Priority: optional
Provides: =ST-headers, =ST-headers-=CV
Description: Header files related to Linux kernel version =V
 This package provides kernel header files for version =V, for sites 
 that want the latest kernel headers. Please read
 /usr/share/doc/=ST-headers-=V/debian.README.gz for details

Package: =ST-source-=V
Architecture: all
Section: devel
Priority: optional
Provides: =ST-source, =ST-source-=CV
Depends: binutils, bzip2
Recommends: libc-dev, gcc, make
Suggests: libncurses-dev | ncurses-dev, kernel-package, xmlto
Description: Linux kernel source for version =V
 This package provides the source code for the Linux kernel version =V.
 .
 You may configure the kernel to your setup by typing "make config"
 and following instructions, but you could get ncursesX.X-dev and try
 "make menuconfig" for a jazzier, and easier to use interface. There 
 are options to use QT or GNOME based configuration interfaces, but they
 need additional packages to be installed. Also, please read the detailed 
 documentation in the file
 /usr/share/doc/=ST-source-=V/README.headers.gz.
 .
 If you wish to use this package to create a custom Linux kernel, then
 it is suggested that you investigate the package kernel-package,
 which has been designed to ease the task of creating kernel image
 packages. 

Package: =ST-image-=V=SA
Architecture: =A
Section: base
Priority: optional
Provides: =ST-image,  =ST-image-=CV
Depends: =I coreutils | fileutils (>= 4.0)
Suggests: =L fdutils, =ST-doc-=V=SA | =ST-source-=V 
Description: Linux kernel binary image for version =V=SA.
 This package contains the Linux kernel image for version =V=SA,
 the corresponding System.map file, and the modules built by the
 packager.  It also contains scripts that try to ensure that the
 system is not left in a unbootable state after an update.
 .
 If you wish to update a bootdisk, or to use a bootloader to make
 installing and using the image easier, we suggest you install the latest
 fdutils (for formatting a floppy to be used as boot disk), and LILO, for a
 powerful bootloader. Of course, both these are optional. 
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources. Please look at kernel-img.conf(5),
 and /usr/share/doc/kernel-package/README.gz  from the package kernel-package
 for details on how to tailor the  installation of this or any other kernel 
 image package

Package: =ST-doc-=V
Architecture: all
Section: doc
Priority: optional
Provides: =ST-doc-=CV
Suggests: =ST-image-=V=SA
Description: Linux kernel specific documentation for version =V.
 This package provides various Readme's in the =V kernel
 Documentation/ subdirectory: these typically contain kernel-specific
 installation notes for some drivers. for example. Please see
 /usr/share/doc/=ST-doc-X.X.XX/Documentation/00-INDEX for a list of
 contents.  Please also read the Changes file, as it contains
 information about the problems which may result by upgrading your
 kernel.

Package: =ST-manual-=V
Architecture: all
Section: doc
Priority: optional
Provides: =ST-manual-=CV
Conflicts: =ST-manual-=CV
Suggests: =ST-image-=V=SA
Description: Linux kernel section 9 manual pages for version =V.
 This package provides various Section 9 manual pages included with the kernel. 

Package: kernel-uml-=V=SA
Architecture: =A
Section: base
Priority: optional
Provides: kernel-uml,  kernel-uml-=CV, user-mode-linux
Depends: =I coreutils | fileutils (>= 4.0)
Suggests: =L fdutils, kernel-doc-=V=SA | kernel-source-=V, uml-utilities
Conflicts: user-mode-linux (>= 2.0)
Replaces: user-mode-linux
Description: Linux uml kernel binary image for version =V=SA.
 This package contains the Linux uml kernel image for version =V=SA
 and the modules built by the packager.  

Package: kernel-xen0-=V=SA
Architecture: =A 
Section: base 
Priority: optional 
Provides: kernel-xen0,  kernel-xen0-=CV 
Depends: =I coreutils | fileutils (>= 4.0) 
Suggests: =L fdutils, kernel-doc-=V=SA | kernel-source-=V 
Description: Linux xen kernel binary image for version =V=SA. 
 This package contains the Linux xen kernel image for version =V=SA 
 and the modules built by the packager.

Package: kernel-xenu-=V=SA
Architecture: =A 
Section: base 
Priority: optional 
Provides: kernel-xenu,  kernel-xenu-=CV 
Depends: =I coreutils | fileutils (>= 4.0) 
Suggests: =L fdutils, kernel-doc-=V=SA | kernel-source-=V 
Description: Linux xen kernel binary image for version =V=SA. 
 This package contains the Linux xen kernel image for version =V=SA 
 and the modules built by the  packager.

