#!/usr/bin/make -f
#
# debian/rules for linux-patch-mips
#
# Copyright (C) 2005 Thiemo Seufer

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SHELL := sh -e

debarch := $(shell dpkg-architecture -qDEB_HOST_ARCH)

# The version of our linux-source build-dependency.
sourcever := $(shell grep -v ^\# debian/sourceversion)

# The kernel module ABI version.
abiver := $(shell grep -v ^\# debian/abiversion)

# The package version should be
# <kernel upstream>-<debian revision>
# e.g. 2.6.10-1
debver := $(shell dpkg-parsechangelog |grep '^Version: ' |sed -e 's/^Version: //')
kernver := $(word 1,$(subst -, ,$(debver)))
major_v := $(word 1,$(subst ., ,$(kernver)))
minor_v := $(word 2,$(subst ., ,$(kernver)))
major := $(major_v).$(minor_v)

# The flavours we're building for.
flavours := $(shell grep -v ^\# debian/flavours.$(debarch))

# The list of all flavour specific header packages.
flavour-headers := $(foreach fla,$(flavours),linux-headers-$(kernver)-$(abiver)-$(fla))

# The mips tools package directory
mtdir := mips-tools

NUM_CPUS := $(shell grep '^processor[:space:]*' /proc/cpuinfo | wc -l)

# The place the source tarball unpacks to.
kdir := linux-source-$(kernver)

export kernver abiver debver debarch NUM_CPUS DEB_BUILD_OPTIONS SHELL kdir mtdir

unpack: stamps/source-unpack-stamp
stamps/source-unpack-stamp:
	rm -rf stamps
	mkdir stamps
	tar -C debian --bzip2 -xf /usr/src/linux-source-$(kernver).tar.bz2
	ln -sf asm-mips debian/$(kdir)/include/asm
	touch $@

patch: stamps/source-patch-stamp
stamps/source-patch-stamp: stamps/source-unpack-stamp
	dpatch -d debian/$(kdir) apply-all
	dpatch cat-all > $@

unpatch:
ifneq (,$(wildcard stamps/source-patch-stamp))
	dpatch -d debian/$(kdir) deapply-all
	rm -f stamps/source-patch-stamp
endif

# This needs to be phony in order to rebuild.
.PHONY: debian/control
debian/control: debian/changelog \
		debian/flavours.$(debarch) \
		debian/control.in/stub \
		$(foreach fla,$(flavours),debian/control.in/$(fla))
	sed -e 's/@sourcever@/$(sourcever)/g' \
		-e 's/@kernver@/$(kernver)/g' \
		-e 's/@abiver@/$(abiver)/g' \
		-e 's/@arch@/$(debarch)/g' \
		-e 's/@major@/$(major)/g' \
		-e 's/@flavour-headers@/$(flavour-headers)/g' \
		debian/control.in/stub >$@ && echo '' >> $@
	$(foreach fla,$(flavours), \
		sed -e 's/@sourcever@/$(sourcever)/g' \
			-e 's/@kernver@/$(kernver)/g' \
			-e 's/@abiver@/$(abiver)/g' \
			-e 's/@arch@/$(debarch)/g' \
			-e 's/@major@/$(major)/g' \
			-e 's/@flavour@/$(fla)/g' \
			debian/control.in/$(fla) >> $@ \
			&& echo '' >> $@ &&) :

build: stamps/build
stamps/build: debian/control patch
	$(MAKE) -C debian build-mips-tools
	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -p$(mtdir)
	$(MAKE) -C debian install-mips-tools

clean:
	dh_testdir
	rm -rf stamps debian/$(kdir) debian/*.deb
	$(MAKE) -C debian clean-mips-tools
	$(foreach fla,$(flavours), \
		$(MAKE) -C debian flavour=$(fla) clean-flavour &&) :
ifneq ($(flavours),)
	$(MAKE) -C debian clean-generic-headers
endif
	dh_clean

binary-images: patch
	dh_testdir
	dh_testroot
	$(foreach fla,$(flavours), \
		$(MAKE) -C debian flavour=$(fla) build-flavour && \
		cp -lf debian/linux-image-$(kernver)-$(abiver)-$(fla)_$(debver)_$(debarch).deb .. && \
		cp -lf debian/linux-headers-$(kernver)-$(abiver)-$(fla)_$(debver)_$(debarch).deb .. &&) :

binary-headers: patch
	dh_testdir
	dh_testroot
ifneq ($(flavours),)
	$(MAKE) -C debian build-generic-headers
	cp -lf debian/linux-headers-$(kernver)-$(abiver)_$(debver)_$(debarch).deb ..
endif

binary-arch: binary-images binary-headers
	dh_testdir
	dh_testroot
	dh_installdocs -p$(mtdir)
	dh_installexamples -p$(mtdir) -X.svn
	dh_installmodules -p$(mtdir)
	dh_installchangelogs -p$(mtdir)
	dh_installman -p$(mtdir)

	dh_shlibdeps -p$(mtdir)
	dh_compress -p$(mtdir) -X.stub
	dh_link -p$(mtdir)
	dh_strip -p$(mtdir)
	dh_fixperms -p$(mtdir)
	dh_installdeb -p$(mtdir)
	dh_gencontrol -p$(mtdir)
	dh_md5sums -p$(mtdir)
	dh_builddeb -p$(mtdir)
	# finally add the kernel images and headers
	$(foreach fla,$(flavours), \
		dpkg-distaddfile linux-image-$(kernver)-$(abiver)-$(fla)_$(debver)_$(debarch).deb base optional && \
		dpkg-distaddfile linux-headers-$(kernver)-$(abiver)-$(fla)_$(debver)_$(debarch).deb devel optional &&) :
ifneq ($(flavours),)
	dpkg-distaddfile linux-headers-$(kernver)-$(abiver)_$(debver)_$(debarch).deb devel optional
endif

binary-indep:

binary: binary-arch binary-indep

.PHONY: build build-flavour \
	binary binary-arch binary-indep binary-images binary-headers \
	clean install patch unpatch unpack
