#!/usr/bin/make -f
#
# rules - debian/rules for initrd-tools.
#
# Copyright (C) 2001-2002 Herbert Xu <herbert@debian.org>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

build binary-indep:
# Ye olde no-op.

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f debian/version

install: 
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	sed 's/.* (\([^)]*\)).*/VERSION=\1/;q' debian/changelog \
		> debian/version
	install -o root -g root -m 644 debian/version \
		debian/initrd-tools/usr/share/initrd-tools/version
	rm -f debian/version
	install -o root -g root -m 644 \
		echo init linuxrc debian/initrd-tools/usr/share/initrd-tools/
	install -o root -g root -m 755 \
		mkinitrd debian/initrd-tools/usr/sbin/
	install -o root -g root -m 644 \
		mkinitrd.conf modules debian/initrd-tools/etc/mkinitrd/
ifeq ($(DEB_HOST_ARCH),powerpc)
	sed -i -e 's%MODULES=most%MODULES=dep%' debian/initrd-tools/etc/mkinitrd/mkinitrd.conf
endif

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installinit -n --init-script=initrd-tools.sh
	dh_installman
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
.PHONY: build clean binary-indep binary-arch binary install
