Source: kernel-patch-2.6.11-m68k
Section: devel
Priority: optional
Maintainer: Christian T. Steigies <cts@debian.org>
Standards-Version: 3.6.1
Build-Depends-Indep: debhelper

Package: kernel-patch-2.6.11-m68k
Architecture: all
Depends: ${perl:Depends}, patch, kernel-source-2.6.11
Description: Diffs to the kernel source for m68k
 Unfortunately in Linux 2.6.11, the different architectures have
 divergent source trees. This is the diff to patch the native (i386)
 source to the latest (2.6.11) m68k tree. You need to run
 make-kpkg in order to build the kernel.  If you don't have an m68k
 machine you don't need it.
