#!/usr/bin/make -f
SHELL := sh -e
SOURCEVERSION := 2.6.16
VERSION := 2.6.16-1
MAJOR := 2.6

include /usr/src/linux-support-$(VERSION)/modules/rules.include

orig: ../orig/linux-nonfree-$(MAJOR)-$(SOURCEVERSION)
	rsync --delete --exclude debian --exclude .svn -av ../orig/linux-nonfree-$(MAJOR)-$(SOURCEVERSION)/ .

../orig/linux-$(MAJOR)-$(VERSION):
	if [ -f "../linux-nonfree-$(MAJOR)_$(VERSION).orig.tar.gz" ]; then \
		mkdir -p ../orig; \
		tar -C ../orig -xzf ../linux-nonfree-$(MAJOR)_$(SOURCEVERSION).orig.tar.gz; \
	else \
		echo "Can't find orig tarball." >&2; \
		exit 1; \
	fi

maintainerclean:
	rm -rf $(filter-out debian, $(wildcard *))

