#!/usr/bin/make -f
SHELL    := sh -e
srcver   := $(shell dpkg-parsechangelog | awk '/^Version:/ {print $$2}')
VERSION  := $(shell echo $(srcver) | sed -e 's,-[^-]*$$,,')
MAJOR    := $(word 1,$(subst ., ,$(VERSION))).$(word 2,$(subst ., ,$(VERSION)))
UPSTREAMVERSION  := $(shell echo $(VERSION) | sed -e 's,^[^+]*+,,' -e 's,-rc[0-9]*$$,,')

include /usr/src/linux-headers-$(UPSTREAMVERSION)/modules/rules.include

orig: ../orig/linux-nonfree-$(MAJOR)-$(VERSION)
	rsync --delete --exclude debian --exclude .svn -av ../orig/linux-nonfree-$(MAJOR)-$(VERSION)/ .

../orig/linux-$(MAJOR)-$(VERSION):
	if [ -f "../linux-nonfree-$(MAJOR)_$(VERSION).orig.tar.gz" ]; then \
		mkdir -p ../orig; \
		tar -C ../orig -xzf ../linux-nonfree-$(MAJOR)_$(VERSION).orig.tar.gz; \
	else \
		echo "Can't find orig tarball." >&2; \
		exit 1; \
	fi

maintainerclean:
	rm -rf $(filter-out debian, $(wildcard *))

