Source: kernel-image-2.6.11-m68k
Section: devel
Priority: optional
Maintainer:  Christian T. Steigies <cts@debian.org>
Standards-Version: 3.6.1
Build-Depends: kernel-tree-2.6.11-5, kernel-patch-2.6.11-m68k, kernel-package, debhelper, bzip2, console-tools

Package: kernel-headers-2.6.11-1
Architecture: m68k
Section: devel
Priority: optional
Depends: coreutils | fileutils (>= 4.0), kernel-kbuild-2.6-3
Provides: kernel-headers, kernel-headers-2.6
Description: Header files related to Linux kernel version 2.6.11
 This package provides kernel header files for version 2.6.11.
 Please read /usr/share/doc/kernel-headers-2.6.11-1/debian.README.gz
 for details

Package: kernel-image-2.6.11-1-amiga
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: kernel-doc-2.6.11
Description: Linux kernel image for Amiga computers
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.6.11-1-atari
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: kernel-doc-2.6.11
Description: Linux kernel image for Atari computers
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.6.11-1-bvme6000
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: vmelilo, m68k-vme-tftplilo, kernel-doc-2.6.11
Description: Linux kernel image for BVM BVME4000 and BVME6000 SBCs.
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 If you wish to update a bootdisk, or to use a bootloader to make
 installing and using the image easier, we suggest you install the optional
 VMELILO package.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.6.11-1-mac
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: kernel-doc-2.6.11
Description: Linux kernel image for Macintosh computers
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.6.11-1-mvme147
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: vmelilo, kernel-doc-2.6.11
Description: Linux kernel image for Motorola MVME147 SBCs.
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 If you wish to update a bootdisk, or to use a bootloader to make
 installing and using the image easier, we suggest you install the optional
 VMELILO package.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.6.11-1-mvme16x
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: vmelilo, m68k-vme-tftplilo, kernel-doc-2.6.11
Description: Linux kernel image for Motorola MVME162/6/7, MVME172/7 SBCs.
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 If you wish to update a bootdisk, or to use a bootloader to make
 installing and using the image easier, we suggest you install the optional
 VMELILO package.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.6.11-1-q40
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: kernel-doc-2.6.11
Description: Linux kernel image for Q40 and Q60 computers
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.6.11-1-sun3
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: kernel-doc-2.6.11
Description: Linux kernel image for sun3 computers
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.6.11-1-sun3x
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: kernel-doc-2.6.11
Description: Linux kernel image for sun3x computers
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

Package: kernel-image-2.6.11-1-hp 
Section: base
Architecture: m68k
Priority: optional
Provides: kernel-image
Depends: coreutils | fileutils (>= 4.0), module-init-tools
Suggests: kernel-doc-2.6.11
Description: Linux kernel image for hp computers
 This package contains the Linux kernel image, the System.map file,
 and the modules built by the packager.
 .
 Kernel image packages are generally produced using kernel-package,
 and it is suggested that you install that package if you wish to
 create a custom kernel from the sources.

