Source: unicorn
Section: non-free/net
Priority: optional
Maintainer: Sven Luther <luther@debian.org>
Build-Depends: debhelper (>> 4.0.0), automake1.4, libgtk1.2-dev
Standards-Version: 3.6.1

Package: unicorn
Architecture: i386
Depends: ${shlibs:Depends}
Description: Monitoring applications for the Bewan ADSL PCI st and USB modems
 This package contains applications useful for monitoring the state of the
 Bewan ADSL modems.

Package: unicorn-source
Architecture: all
Depends: make, debhelper, kernel-package, libc6-dev
Description: Source for the Bewan ADSL PCI st and USB unicorn driver
 This package provides the source code for the unicorn kernel modules.
 The unicorn package contains applications that can be useful to monitor the
 state of the Bewan ADSL modems. Kernel source is required to compile these
 modules.
 .
 Note that the sources build only for i386 for now, but if people would want
 to use this modem on other arches, please tell me, and i will try to get the
 proprietary part built for this arch.

