#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

SOURCE  := $(shell dpkg-parsechangelog | sed -ne 's,^Source: *\(.*\)$$,\1,p')
VERSION := $(shell dpkg-parsechangelog | perl -ne '/^Version:\s+(\S+)-[^-]+$$/ && print $$1;')

BUILD_DIR = debian/build
STAMPS_DIR = debian/stamps

export OPENAIS_BUILD=$(if $(findstring debug,$(DEB_BUILD_OPTIONS)),DEBUG)

setup: $(STAMPS_DIR)/setup

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

$(STAMPS_DIR)/setup: SOURCE_FILES = $(filter-out debian, $(wildcard * .[^.]*))
$(STAMPS_DIR)/setup: DIR = $(BUILD_DIR)/build
$(STAMPS_DIR)/setup:
	@[ -d $(BUILD_DIR) ] || mkdir $(BUILD_DIR)
	@[ -d $(STAMPS_DIR) ] || mkdir $(STAMPS_DIR)
	dh_testdir
	@rm -rf $(DIR)
	mkdir $(DIR)
	cp -a $(SOURCE_FILES) $(DIR)
	dpatch -d $(DIR) apply-all
	touch $@

build: $(STAMPS_DIR)/build

$(STAMPS_DIR)/build: DIR = $(BUILD_DIR)/build
$(STAMPS_DIR)/build: $(STAMPS_DIR)/setup
	dh_testdir
ifneq (,$(findstring $(DEB_HOST_ARCH), hppa))
	$(MAKE) -C $(DIR) WORKAROUND=-O1
else
	$(MAKE) -C $(DIR)
endif
	touch $@

clean:
	dh_testdir
	rm -rf $(BUILD_DIR) $(STAMPS_DIR)
	dh_clean

maintainerclean:
	rm -rf $(filter-out .svn debian, $(wildcard * .[^.]*))

install: DIR = $(BUILD_DIR)/build
install: $(STAMPS_DIR)/build
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) -C $(DIR) install DESTDIR=$(CURDIR)/debian/tmp/
	dh_install --sourcedir=debian/tmp
	dh_installchangelogs CHANGELOG
	dh_installdirs
	dh_installdocs
	dh_installexamples
	dh_strip
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	strip --remove-section=.comment --remove-section=.note --strip-unneeded debian/openais/usr/lib/openais/lcrso/*
endif
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_makeshlibs -V
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary-indep:

binary: binary-arch binary-indep

DIR_ORIG = ../orig/$(SOURCE)-$(VERSION)
TAR_ORIG_NAME = $(SOURCE)_$(VERSION).orig.tar.gz
TAR_ORIG = $(firstword $(wildcard ../$(TAR_ORIG_NAME)) $(wildcard ../orig/$(TAR_ORIG_NAME)))

orig: $(DIR_ORIG)
	rsync --delete --exclude debian --exclude .svk --exclude .svn --link-dest=$(DIR_ORIG)/ -a $(DIR_ORIG)/ .

$(DIR_ORIG):
ifeq ($(TAR_ORIG),)
	$(error Cannot find orig tarball $(TAR_ORIG_NAME))
else
	mkdir -p ../orig
	tar -C ../orig -xzf $(TAR_ORIG)
endif

# This is to make dpatch-edit-patch work
unpatch: clean

