Source: kernel-source-2.4.27
Section: devel
Priority: optional
Maintainer: Debian Kernel Team <debian-kernel@lists.debian.org>
Uploaders: Joshua Kwan <joshk@triplehelix.org>, Simon Horman <horms@debian.org>, Jens Schmalzing <jensen@debian.org>
Standards-Version: 3.6.1
Build-Depends-Indep: bzip2, debhelper (>= 3), docbook-utils, gs, kernel-package (>= 7.48), transfig, gcc-3.3

Package: kernel-source-2.4.27
Architecture: all
Section: devel
Priority: optional
Provides: kernel-source, kernel-source-2.4
Depends: binutils, bzip2, coreutils | fileutils (>= 4.0)
Recommends: libc6-dev | libc-dev, gcc-3.3, make
Suggests: libncurses5-dev | libncurses-dev, tk8.4-dev | tk-dev, kernel-package
Description: Linux kernel source for version 2.4.27 with Debian patches
 This package provides the source code for the Linux kernel version 2.4.27 with
 modifications by Debian.  It is used to build the various prepackaged
 kernel-image packages.
 .
 You may configure the kernel to your setup by typing "make config"
 and following instructions, but you could install libncurses-dev and
 tk-dev and try "make menuconfig" for a jazzier, and easier to use
 interface. Also, please read the detailed documentation in the file
 /usr/share/doc/kernel-source-2.4.27/README.headers.gz. 
 .
 If you wish to use this package to create a custom Linux kernel, then
 it is suggested that you investigate the package kernel-package,
 which has been designed to ease the task of creating kernel image
 packages. 

Package: kernel-doc-2.4.27
Architecture: all
Section: doc
Priority: optional
Provides: kernel-doc-2.4
Depends: coreutils | fileutils (>= 4.0)
Description: Linux kernel specific documentation for version 2.4.27
 This package provides The various readme's in the 2.4.27 kernel
 Documentation/ subdirectory: these typically contain kernel-specific
 installation notes for some drivers for example. See
 /usr/share/doc/kernel-doc-X.X.XX/Documentation/00-INDEX for a list of what
 is contained in each file.  Please read the Changes file, as it
 contains information about the problems, which may result by
 upgrading your kernel.

Package: kernel-patch-debian-2.4.27
Architecture: all
Section: devel
Priority: optional
Depends: bzip2
Suggests: kernel-source-2.4.27
Description: Debian patches to Linux 2.4.27
 This package includes the patches used to produce the prepackaged
 kernel-source-2.4.27 package.  They should be applied to a pristine
 Linux 2.4.27 kernel.

Package: kernel-tree-2.4.27
Architecture: all
Section: devel
Priority: optional
Depends: kernel-patch-debian-2.4.27 (= ${Source-Version}), ${kt-depends}
Provides: ${kt-provides}
Description: Linux kernel source tree for building Debian kernel images
 This meta package is used as a build dependency of Debian
 kernel-image packages to prevent a version discrepancy between
 the kernel-image and corresponding kernel-sources packages in the
 fast-moving unstable archive. The package's dependency relations
 are structured so that a kernel-image package's build
 dependencies can always be satisfied, even if the kernel-source
 package that had been used to compile the image has been
 superseeded by a newer Debian revision since the last build.
 .
 The package provides a list of virtual packages, corresponding to
 Debian revisions of a kernel-source package. The Debian
 kernel-patch contains the information needed to roll back the
 current kernel-source to any of the revisions identified by the
 provided virtual packages. Therefore, the kernel-tree package
 ensures the availability of the kernel source tree corresponding
 to each of the virtual packages listed.
 .
 The package serves no purpose outside of the Debian build and
 archive infrastructure.

