export CONFIG_BLK_DEV_LOOP_KEYSCRUB=y
export CONFIG_BLK_DEV_LOOP_PADLOCK=y

$(SETUP_STAMP):
	@rm -rf $(DIR)
	mkdir -p $(DIR)
	cp -al $(SOURCE_DIR)/*.[chS] $(DIR)
	cp -al $(SOURCE_DIR)/loop.c-2.6.patched $(DIR)/patched-loop.c
	cp -al $(SOURCE_DIR)/debian/Makefile-2.6 $(DIR)/Makefile
	touch $@

install: LIB_MODULES = $(PACKAGE_DIR)/lib/modules/$(REAL_VERSION)
install:
	$(MAKE) -C $(HEADERS_DIR) M=$(CURDIR)/$(DIR) modules_install INSTALL_MOD_PATH=$(PACKAGE_DIR) INSTALL_MOD_DIR=extra/$(MODULE)

	# Rename module to loop-aes.ko
	mv $(LIB_MODULES)/extra/loop-aes/loop.ko $(LIB_MODULES)/extra/loop-aes/loop-aes.ko

	# Add loop.ko symlink to updates/
	mkdir -p $(LIB_MODULES)/updates
	ln -s ../extra/loop-aes/loop-aes.ko $(LIB_MODULES)/updates/loop.ko
